{% extends 'base.html.twig' %}

{% block title %}Edit Activity{% endblock %}

{% block body %}
    <h2>Modifier activité</h2>

    {{ include('activity/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <br>
    
    {{ include('activity/_delete_form.html.twig') }}

    <a href="{{ path('activity_index') }}">Retour à la liste</a>
{% endblock %}
